<%= form_for(@fieldset_child) do |f| %>
  <% if @fieldset_child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fieldset_child.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @fieldset_child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b>Field:</b>
    <%= @fieldset_child.child.name %>
  </p>

  <p>
    <b>Dependencies:</b>
    <br />
  </p>

  <%# only expecting a single dependency group for now %>
  <%= f.fields_for :dependency_group, @fieldset_child.dependency_group do |dependency_group_form| %>
    <%= render :partial => "dependency_group_fields", :locals => {:f => dependency_group_form, :obj => @fieldset_child.dependency_group} %>
  <% end %>
  <p><%= link_to_add_fields "Add Dependency", f, :dependency_group %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= render :partial => "/dynamic_fieldsets/shared/nested_model_javascript" %>
