<% fieldset.children.each do |child| %>
  <% if child.is_a? DynamicFieldsets::Fieldset then %>
    <% fieldset_child = DynamicFieldsets::FieldsetChild.where( fieldset_id: fieldset.id, child_id: child.id, child_type: "DynamicFieldsets::Fieldset" ).first %>
    <li id="child-<%= fieldset_child.id %>" class="fieldset">
      <div>
      <span class="name"><%= child.name %></span>
      <span class="admin">
        <span class="children">
          <% if child.has_children? then %>
            <%= link_to 'Children', dynamic_fieldsets_children_dynamic_fieldsets_fieldset_path(child) %>
          <% else %>
            <%= link_to 'Add to', dynamic_fieldsets_children_dynamic_fieldsets_fieldset_path(child) %>
          <% end %>
        </span>
        <span class="show"><%= link_to 'Show', dynamic_fieldsets_fieldset_path(child) %></span>
        <span class="edit"><%= link_to 'Edit', edit_dynamic_fieldsets_fieldset_path(child) %></span>
        <span class="destroy"><%= button_to 'Destroy!', dynamic_fieldsets_fieldset_path(child), :confirm => 'Are you sure?', :method => :delete %></span>
      </span>
      </div>
    <% if child.has_children? then %>
      <ol>
        <%= render :partial => 'child', :locals => { :fieldset => child } %>
      </ol>
    <% end %>
    </li>
  <% elsif child.is_a? DynamicFieldsets::Field then %>
  <% fieldset_child = DynamicFieldsets::FieldsetChild.where( fieldset_id: fieldset.id, child_id: child.id, child_type: "DynamicFieldsets::Field" ).first %>
    <li id="child-<%= fieldset_child.id %>" class="field<%= ' required' if child.required? %>">
    <div>
      <span class="fieldtype"><%= child.field_type %>:</span>
      <span class="name"><%= child.label %></span>
      <span class="admin">
        <span class="show"><%= link_to 'Show', dynamic_fieldsets_field_path(child) %></span>
        <span class="edit"><%= link_to "Edit Dependency", edit_dynamic_fieldsets_fieldset_child_path(child) %></span>
        <span class="edit"><%= link_to 'Edit Field', edit_dynamic_fieldsets_field_path(child) %></span>
        <span class="destroy"><%= button_to 'Destroy!', dynamic_fieldsets_field_path(child), :confirm => 'Are you sure?', :method => :delete %></span>
      </span>
    </div>
    </li>
  <% end %>
<% end %>
