<%= form_for(@fieldset) do |f| %>
  <% if @fieldset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fieldset.errors.count, "error") %> prohibited this fieldset from being saved:</h2>

      <ul>
      <% @fieldset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nkey %><br />
    <%= f.text_field :nkey %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :parent_fieldset_id %><br />
    <%= f.select :parent_fieldset_id, options_for_select(DynamicFieldsets::Fieldset.parent_fieldset_list), :include_blank => "Choose One"  %>
  </div>
  <div class="field">
    <%= f.label :order_num, "Order Number" %><br />
    <%= f.text_field :order_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
