<h1>Listing fieldset children of <%= @parent_fieldset.name %></h1>

<table>
  <tr>
    <th>Type</th>
    <th>Order Number</th>
    <th>Name</th>
    <th>Description/Field Type</th>
    <th>Fieldset Children</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fieldset_family.each do |child| %>
  <% if child.is_a?(DynamicFieldsets::Fieldset) %>
    <tr>
      <td>Fieldset</td>
      <td><%= child.order_num %></td>
      <td><%= child.name %></td>
      <td><%= child.description %></td>
      <td><%= link_to 'Children', dynamic_fieldsets_children_dynamic_fieldsets_fieldset_path(child) %></td>
      <td><%= link_to 'Show', dynamic_fieldsets_fieldset_path(child) %></td>
      <td><%= link_to 'Edit', edit_dynamic_fieldsets_fieldset_path(child) %></td>
      <td><%= link_to 'Destroy', dynamic_fieldsets_fieldset_path(child), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% elsif child.is_a?(DynamicFieldsets::Field) %>
    <tr>
      <td>Field</td>
      <td><%= child.order_num %></td>
      <td><%= child.name %></td>
      <td><%= child.field_type %></td>
      <td>N/A</td>
      <td><%= link_to 'Show', dynamic_fieldsets_fieldset_path(child) %></td>
      <td><%= link_to 'Edit', edit_dynamic_fieldsets_fieldset_path(child) %></td>
      <td><%= link_to 'Destroy', dynamic_fieldsets_fieldset_path(child), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
<% end %>

</table>

<%= link_to 'Return to Main Show', dynamic_fieldsets_fieldset_path(@parent_fieldset) %>

<br />
