<h1>Listing children of '<%= @fieldset.name %>'</h1>

<ul>
  <%= render :partial => 'child', :locals => { :fieldset => @fieldset } %>
</ul>

<%= link_to 'New Child - Field', new_dynamic_fieldsets_field_path(:parent => @fieldset.id)  %> | 
<%= link_to 'New Child - Fieldset', new_dynamic_fieldsets_fieldset_path(:parent => @fieldset.id) %> | 
<%= link_to 'Show Parent Fieldset', dynamic_fieldsets_fieldset_path(@fieldset) %> |
<%= link_to 'Return to Manager', dynamic_fieldsets_fieldsets_path %>

<br />