<h3 class="fieldset name"><%= @fieldset.name %></h3>
<p class="fieldset description"><%= @fieldset.description %></p>

<script>
$(function() {

    $( "#enable-sorting" ).toggle( function() {
      // Enable sorting
      $( "#children" ).sortable('enable');
      $( "#children" ).addClass('sort');
      $( "#children" ).find('.admin').css('visibility','hidden');
      $("#enable-sorting").html('Save');
    }, function() {
      // Disable sorting, save results
      $( "#children" ).sortable('disable');
      $( "#children" ).removeClass('sort');
      $( "#children" ).find('.admin').css('visibility','visible');
      reorder = $.map($('#children').nestedSortable('toArray'), function(k) { return [[ k.item_id, k.parent_id ]] } );
      reorder.shift();
      $("#enable-sorting").html('Change Ordering');
    });
    
    $( "#children" ).nestedSortable({
        forcePlaceholderSize: true,
        disableNesting: 'field',
        handle: 'div',
        helper: 'clone',
        items: 'li',
        opacity: .75,
        placeholder: 'placeholder',
        revert: 250,
        tabSize: 25,
        toleranceElement: 'div'
      }).sortable('disable');
      
    order = $.map($('#children').nestedSortable('toArray'), function(k) { return [[ k.item_id, k.parent_id ]] } );
    order.shift();
    
    function getOrdering() {
      array = $('#children').nestedSortable('toArray');
      newArray = $.map(array, function(k) { return [[ k.item_id, k.parent_id ]] } );
      newArray.shift();
      return newArray;
    }
    
    // $.map(myarray, function(k) { [ parseInt(k.item_id), parseInt(k.parent_id) ] } )
    
});
</script>

<button type="button" id="enable-sorting">Change Ordering</button>

<ol id="children">
<%= render :partial => 'child', :locals => { :fieldset => @fieldset } %>
</ol>

<%= link_to 'Add Field', new_dynamic_fieldsets_field_path(:parent => @fieldset.id)  %> | 
<%= link_to 'Add Fieldset', new_dynamic_fieldsets_fieldset_path(:parent => @fieldset.id) %> | 
<%= link_to 'Show Parent Fieldset', dynamic_fieldsets_fieldset_path(@fieldset) %> |
<%= link_to 'Return to Manager', :controller => :fieldsets, :action => :roots %>

<br />