<h1>Listing Fieldsets</h1>

<table>
  <tr>
    <th>Nkey</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fieldsets.each do |fieldset| %>
  <tr>
    <td><%= fieldset.nkey %></td>
    <td><%= fieldset.name %></td>
    <td><%= fieldset.description %></td>
    <td><%= link_to 'Children', dynamic_fieldsets_children_dynamic_fieldsets_fieldset_path(fieldset) %></td>
    <td><%= link_to 'Show', dynamic_fieldsets_fieldset_path(fieldset) %></td>
    <td><%= link_to 'Edit', edit_dynamic_fieldsets_fieldset_path(fieldset) %></td>
    <td><%= button_to 'Destroy', dynamic_fieldsets_fieldset_path(fieldset), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fieldset', new_dynamic_fieldsets_fieldset_path %>
