<p>
  <b>Nkey:</b>
  <%= @fieldset.nkey %>
</p>

<p>
  <b>Name:</b>
  <%= @fieldset.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fieldset.description %>
</p>

<%= link_to 'Children', dynamic_fieldsets_children_dynamic_fieldsets_fieldset_path(@fieldset) %> |
<%= link_to 'Edit', edit_dynamic_fieldsets_fieldset_path(@fieldset) %> |
<%= link_to 'Back', dynamic_fieldsets_fieldsets_path %>
