<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fieldset_id %><br />
    <%= f.select :fieldset_id, options_for_select(DynamicFieldsets::Fieldset.parent_fieldset_list), :include_blank => "Choose One"  %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :field_type %><br />
    <%= f.select :field_type, options_for_select(DynamicFieldsets::Field.field_types, @field.field_type), :include_blank => "Choose One" %>
  </div>
  <% @field.field_options.each do |field_option| %>
    <%= f.fields_for :field_options, field_option do |field_option_form| %>
      <%= field_option_form.label :label %>
      <%= field_option_form.text_field :label %>
      <% unless field_option_form.object.new_record? %>
        <%= field_option_form.check_box '_destroy' %>
        <%= field_option_form.label '_destroy', 'Remove' %>
      <% end %>
      <br />
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :required %><br />
    <%= f.check_box :required %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :order_num, "Order Number" %><br />
    <%= f.text_field :order_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function()  {
  $('#dynamic_fieldsets_field_field_type').change(function()  {
    var val = $(this).attr('value');
  });

});

</script>
