<h1>Listing fields</h1>

<table>
  <tr>
    <th>Fieldset</th>
    <th>Name</th>
    <th>Label</th>
    <th>Type</th>
    <th>Required</th>
    <th>Enabled</th>
    <th>Order num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= field.fieldset_id %></td>
    <td><%= field.name %></td>
    <td><%= field.label %></td>
    <td><%= field.type %></td>
    <td><%= field.required %></td>
    <td><%= field.enabled %></td>
    <td><%= field.order_num %></td>
    <td><%= link_to 'Show', dynamic_fieldsets_field_path(field) %></td>
    <td><%= link_to 'Edit', edit_dynamic_fieldsets_field_path(field) %></td>
    <td><%= link_to 'Destroy', dynamic_fieldsets_field_path(field), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_dynamic_fieldsets_field_path %>
