<h1>Listing fields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fields.each do |field| %>
  <tr>
    <td><%= field.name %></td>
    <td><%= field.field_type %></td>
    <td><%= link_to 'Show', dynamic_fieldsets_field_path(field) %></td>
    <td><%= link_to 'Edit', edit_dynamic_fieldsets_field_path(field) %></td>
    <td>
      <% if field.in_use? %>
        <del>Destroy</del>
      <% else %>
        <%= button_to 'Destroy', dynamic_fieldsets_field_path(field), :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_dynamic_fieldsets_field_path %>
