<h1>Listing dynamic_fieldsets_fields</h1>

<table>
  <tr>
    <th>Fieldset</th>
    <th>Name</th>
    <th>Label</th>
    <th>Type</th>
    <th>Required</th>
    <th>Enabled</th>
    <th>Order num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dynamic_fieldsets_fields.each do |dynamic_fieldsets_field| %>
  <tr>
    <td><%= dynamic_fieldsets_field.fieldset_id %></td>
    <td><%= dynamic_fieldsets_field.name %></td>
    <td><%= dynamic_fieldsets_field.label %></td>
    <td><%= dynamic_fieldsets_field.type %></td>
    <td><%= dynamic_fieldsets_field.required %></td>
    <td><%= dynamic_fieldsets_field.enabled %></td>
    <td><%= dynamic_fieldsets_field.order_num %></td>
    <td><%= link_to 'Show', dynamic_fieldsets_field %></td>
    <td><%= link_to 'Edit', edit_dynamic_fieldsets_field_path(dynamic_fieldsets_field) %></td>
    <td><%= link_to 'Destroy', dynamic_fieldsets_field, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field', new_dynamic_fieldsets_field_path %>
