<p id="notice"><%= notice %></p>

<p>
  <b>Fieldset:</b>
  <%= @dynamic_fieldsets_field.fieldset_id %>
</p>

<p>
  <b>Name:</b>
  <%= @dynamic_fieldsets_field.name %>
</p>

<p>
  <b>Label:</b>
  <%= @dynamic_fieldsets_field.label %>
</p>

<p>
  <b>Type:</b>
  <%= @dynamic_fieldsets_field.type %>
</p>

<p>
  <b>Required:</b>
  <%= @dynamic_fieldsets_field.required %>
</p>

<p>
  <b>Enabled:</b>
  <%= @dynamic_fieldsets_field.enabled %>
</p>

<p>
  <b>Order num:</b>
  <%= @dynamic_fieldsets_field.order_num %>
</p>


<%= link_to 'Edit', edit_dynamic_fieldsets_field_path(@dynamic_fieldsets_field) %> |
<%= link_to 'Back', dynamic_fieldsets_fields_path %>
