<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field.name %>
</p>

<p>
  <b>Label:</b>
  <%= @field.label %>
</p>

<p>
  <b>Type:</b>
  <%= @field.field_type %>
</p>

<% if @field.field_options.length > 0 %>
  <p>
    <b>Options:</b><br />
    <% @field.field_options.each do |fo| %>
      <%= fo.name %>
      <br />
    <% end %>
  </p>
<% end %>

<p>
  <b>Required:</b>
  <%= @field.required %>
</p>

<p>
  <b>Enabled:</b>
  <%= @field.enabled %>
</p>

<% if @field.field_defaults.length > 0 %>
  <p>
    <b>Default values:</b><br />
    <% @field.field_defaults.each do |fd| %>
      <%= fd.value %>
      <br />
    <% end %>
  </p>
<% end %>

<% if @field.field_html_attributes.length > 0 %>
  <p>
    <b>Html Attributes:</b><br />
    <% @field.field_html_attributes.each do |fha| %>
      <%= fha.attribute_name %>: <%= fha.value %>
      <br />
    <% end %>
  </p>
<% end %>


<%= link_to 'Edit', edit_dynamic_fieldsets_field_path(@field) %> |
<%= link_to 'Back', dynamic_fieldsets_fields_path %>
