<div id='<%= id %>' name='<%= name %>'>
  <% options.each do |option| %>
    <label for='<%= option[:name] %>'>
      <%= check_box_tag(option[:name], option[:value], option[:checked], option[:html_attributes]) %>  
      <%= option[:label] %>
    </label>
  <% end %>
</div>
